--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.11.0
torchvision==0.26.0
neuprint-python==0.6.1
numpy==1.26.4
pandas==2.2.2
pyarrow==16.1.0
scipy==1.13.1
matplotlib==3.9.2
seaborn>=0.13.2
IPython>=8.0.0
networkx==3.3
tqdm==4.66.5
pytest==7.4.4
Pillow>=10.4.0
openml>=0.15.1
h5py>=3.11.0
hdf5plugin>=4.4.0
imageio>=2.33.0
opencv-python>=4.11.0
